<ons-navigator ng-controller="MapController">
   <ons-page>
        <ons-toolbar fixed-style ng-controller="SlidingMenuController">
            <div class="left">
                <ons-toolbar-button ng-click="slidingMenu.toggleMenu()"><ons-icon icon="bars"></ons-icon></ons-toolbar-button>
            </div>
            <div class="center">Map</div>
        </ons-toolbar>
        
        <div id="map_canvas"></div>
        
        <p class="par-search">
            <input type="search" class="search-input search-input-map">
        </p>
        
        <p class="par-buttons">
            <ons-button  class="btn-delete" ng-click="deleteAllMarkers()">
                Delete all markers        
            </ons-button>
            <ons-button class="btn-distance" ng-click="calculateDistance()">
                Distance      
            </ons-button>
        </p>   
    </ons-page>
</ons-navigator>
